@using Expense_tracker.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="~/Content/vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
    <link href="~/Content/" rel="stylesheet" id="style-rtl">
    <link href="~/Content/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="~/Content/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="~/Content/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="~/Content/css/user.min.css" rel="stylesheet" />
    <link href="~/Content/cssassets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light  bg-light py-4">
        <a class="navbar-brand" href="#">Expense Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">

            <ul class="nav navbar-nav">

                <li class="nav-item active mx-2">
                    <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active mx-2">
                    
                </li>
                <li class="nav-item active mx-2">
                   
                </li>
            
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link text-danger" href="/Login/Logout">Logout</a>

                        <a class="nav-link" href="/Employee/Index">Employee</a>
                        if (User.IsInRole("Admin"))
                        {
                        <a class="nav-link" href="/SupplierandExpense/SupplierList">Vendors <span class="sr-only">(current)</span></a>
                        }
                    }
                </li>
            </ul>

        </div>
    </nav>

    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/Content/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/vendors/anchorjs/anchor.min.js"></script>
    <script src="~/Content/vendors/is/is.min.js"></script>
    <script src="~/Content/vendors/echarts/echarts.min.js"></script>
    <script src="~/Content/vendors/fontawesome/all.min.js"></script>
    <script src="~/Content/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="~/Content/vendors/list.js/list.min.js"></script>
    <script src="~/Content/assets/js/theme.js"></script>

</body>
</html>
