
@using Expense_tracker.Models;
@using System.Data;
@{
    ViewBag.Title = "ItemListAddForm";
}

<script>
    function LoadData(SupplierId) {
        debugger;
        $.ajax({
            type: "POST",
            url: "/SupplierandExpense/SupplierChange/",
            data: JSON.stringify({ SupplierId }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                debugger;
                if (data != null) {
                    $('#cat').remove();
                    var categoryheader = '<div id="cat">' +
                        '<select name="categoryid" class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">';
                    var categorybody = "";
                    Object.entries(data.catList).forEach(([Catkey, Catvalue]) => {
                        categorybody = categorybody + '<option value ="' + `${Catkey}` + '">' + `${Catvalue}` + '</option>'; 
                    });
                    var categoryall = categoryheader + categorybody +'</select>'+ '</div>';
                    $('#catbefore').before(categoryall); 
                } else
                {
                    alert("Something went wrong");
                }
            },
            failure: function()  {
                alert("error");
            },
            error: function () {
                alert(error);
            }
        });
    };
</script>
<div class="container">
    <form method="post" action="/SupplierandExpense/ItemListAddFormComplete">
        <div class="card bg-white my-3 py-3 ">
            <div class="row">
                <h5 class="mx-2">ItemListAddForm</h5>
                <div class="col-md-6">
                    <div class="form-group mx-4">
                        <label for="suppliers">Supplier Name</label>
                        <select name="supplierId" onchange="LoadData(value)" class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
                            <option  value="">All supplier</option>
                            @foreach (KeyValuePair<string, string> Suppliers in Model.ItemFormData.SuppliersLists)
                            {
                                <option value="@Suppliers.Key">@Suppliers.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mx-4">
                        <label for="suppliers">Category Name</label>
                        <div id="cat">
                            <select name="categoryid" class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
                                @foreach (KeyValuePair<string, string> Category in Model.ItemFormData.CategoryLists)
                                {
                                    <option value="@Category.Key">@Category.Value</option>
                                }
                            </select>
                        </div>
                        <div id="catbefore">
                       
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mx-4">
                        <label for="UserName">Item Name</label>
                        <input type="text" class="form-control" name="itemname" placeholder="Enter User Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mx-4">
                        <label for="suppliers">Item Price</label>
                        <input type="text" class="form-control" name="itemprice" placeholder="Enter User Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mx-4">
                        <label for="UserName">Avaliable</label>
                        <div class="form-check"><input class="form-check-input" value="1" id="flexRadioDefault1" type="radio" name="aviableflg"/><label class="form-check-label" for="flexRadioDefault1">Yes</label></div>
                        <div class="form-check"><input class="form-check-input"value="0" id="flexRadioDefault2" type="radio" name="aviableflg" /><label class="form-check-label" for="flexRadioDefault2">No</label></div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group mx-4">
                        <label for="suppliers">Item Type</label>
                        <select name="itemtype" class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
                            <option value="1">unit</option>
                            <option value="2">Case</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mx-4 ">

                       <label for="UserName">Remarks</label>
                        <textarea class="form-control" name="remarks"></textarea>
                    </div>
                </div>
            </div>

          <div class="row">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary mx-4 ">Submit</button>
                </div>
            </div>
        </div>   
    </form>
    </div>

